@model bt_tuan3.Models.Book

@{
    ViewBag.Title = "Buy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>
<p style="font-size:24px">Ban da mua mot cuon sach <strong>@Model.Title</strong> voi gia <strong>@Model.Price</strong> VND</p>

